body {
  background-color: #f8f8f8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  display: inline-block;
  width: 800px;
  margin-left: calc((100% - 800px) / 2);
  margin-top: 20px;
}

header > img {
  float: left;
  height: 50px;
}

nav {
  float: right;
  margin-top: 7px;
}

a {
  float: left;
  padding: 5px;
  padding-left: 13px;
  padding-right: 13px;
  color: #9d9d9d;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 18px;
}
a:last-of-type {
  border-color: #9d9d9d;
  margin-left: 30px;
}

main {
  display: inline-block;
  width: 800px;
  margin-left: calc((100% - 800px) / 2);
  margin-top: 20px;
}

div {
  width: 40%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 70px;
  color: #9d9d9d;
}

h1 {
  display: inline-block;
  width: 100%;
  margin: 0;
  font-size: 100px;
  line-height: 80px;
}

p {
  display: inline-block;
  width: 100%;
  margin: 0;
  font-size: 28px;
  line-height: 1.24;
}

main > img {
  width: 50%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
